.container {
   margin-top: 50px;
}

.page-title {
   font-size: 24px;
   font-weight: bold;
}

.card {
   margin-bottom: 20px;
}

.card-body {
   padding: 20px;
}

.nav-link.active {
   font-weight: bold;
}